h1{
    font-size: 1.5em;
    margin-bottom: 20px;
}
#campos{
    color: white;
}
form div label{
    font-size: 0.9em;
}
form div input{
    
    
    
    
}
#limite-footer{
display: block;
visibility: hidden;
color: white;
text-align: center;
margin-bottom: 25px;
margin-top: 30px;
}
#send{
    left: 9px;
}
.buttons{
    width: 70px;
    margin: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
}
@media screen and (min-width: 768px) {
    h1{
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.616);
        text-align: center;
        margin: 30px;
        color: rgb(0, 0, 0);
    }
    form {
        background-color: rgba(169, 169, 169, 0.495);
        border-radius: 10px;
        width: 70%;
        margin: auto;
        & > div{
            
            margin: auto;
            
            width: 100%;
            padding: 5px 15px;
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;

            & > label {
                width: 15%;
                
            }
            & > input {
                min-height: 25px;
                width: 75%;
            }
            & > textarea {
                width: 75%;
                border-radius: 0 15px 0 15px ;
            }
        }
        
    }
    #label-msg{
        align-self: self-start;
    }
    footer{
        background-color: black;
    }
}