#burguer {
    display: none;
}
header {
    display: flex;
    background-color: #707a8a;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
    position: fixed;
    width: 100%;
    height: 45px;
}
#menu-links {
    padding: 10px;
    width: 75%;
}
#menu-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    
}

#menu-links ul li {
    list-style: none;
   
}
#menu-links ul li a {
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.566);
    font-size: 0.8em;
    font-weight: 200;
    text-transform: uppercase;
}
#home a:first-child{
    color: #00D646;
}
#menu-links ul li a:hover {
    color: #fff;
    transition: .5s;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
}
#lang {
    /* background-color: aquamarine; */
    /* background-color: #00D646; */
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    padding: 7px;
    border: 1px black solid;
}

