@media screen and (max-width: 600px) {
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    header {
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
        height: auto;
        & span>img {
            display: none;
        }
    }
    #burguer {
        display: block;
        color: white;
        width: 35px;
        margin: 0;
        padding: 5px;
    }
    .blurred {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        background-color: #eee;
    }
    #menu-links {
        flex: 1;
    }
    #menu-mobile{
        display: none;
        flex-direction: column;
        gap: 10px;
        align-items: endstart;
        top: 45px;
        left: 8px;        
    }
    #apresentacao {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        & p {
            text-align: center;
        }
    }
    #sobre {
        width: 95%;
        padding: 2px;
        background-color: #333b508a;
        & div:nth-child(2){
            padding: 5px;
            width: 90%;
        }
    }
    #habilidades {
        width: 95%;
        margin: auto;
        & h1 {
            font-size: 1.5em;
        }
        
    }
    #experiencia {
        width: 95%;
        margin: auto;
        & h1 {
            width: 100%;
            font-size: 1.5em;
            & span {
           }
        }
    }
    .tec {
        margin: 25px 0;
        & P {
            width: 55px;
        }
    }
    .barra {
        width: 75%;
    }
    .exp-hist {
        font-size: .6em;
        width: 50%;
    }
    .time-refL, .time-refR {
        width: 50%;
        font-size: 0.8em;
        & li {
            line-height: 20px;
        }
    }
    .time-refL {
        margin-right: 15px;
        /* background-color: rgb(93, 93, 47); */
        & p {
            /* background-color: aquamarine; */
            
        }
    }
    .projects {
        height: 180px;
    }
    .timeline {
        width: 99%;
    }
    .time-refR {
        margin-left: 15px;
    }
    .lineHight li {
        line-height: 15px;
    }
    .line-efect {
        
    }
    footer {
        > div {
            margin: 0px;
            flex: 1;
        }
        #dev {
            flex: 3;
        }
    
    }
    .comp-iqqj6loz {
        height: 180px;
    }
    #docontato {
        background-color: #333b509e;
        width: 95%;
        & div {
            padding: 0;
            & p {
                width: 100%;
            }
        }
        & form {
            padding: 0;
            
            & div {
                padding: 5px;
                >input {
                    width: 100%;
                }
                & button {
                    float: right;
                    color: red;
                }
            }
            & div>textarea {
                width: 100%;

            } 
        }
    }
    #contato {
        & div>h2 {
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        & div>p {
            padding: 8px;
        }
    }
    #redes {
        width: 90%;
        
    }
}