/* https://pt.wix.com/website-template/view/html/1885?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%3Fcriteria%3DPortf%25C3%25B3lio%2Bde%2Bdesenvolvedor%2528a%2529%2Bweb&tpClick=view_button&esi=1a0f037b-6d9d-4ec8-8aaa-ce95d6026323 */

@import url("./nomalize.css");
/* @font-face {
    font-family: "Leckerli";
    src: url("../Fonts/LeckerliOne-Regular.ttf");
} */
@font-face {
    font-family: "one";
    src: url(../Fonts/LeckerliOne-Regular.ttf);
}
@font-face {
    font-family: "wix-display";
    src: url(../Fonts/Wix_Madefor_Display/);
    /* src: url(./../Fonts/WixMadeforDisplay-VariableFont_wght.ttf); */
}
:root{
    --cor-principal: #a5acb8;
    --cor-fundo-escuro: #333B50;
    --cor-fundo: #707a8a;
    --cor-texto: white;
    --cor-verde: #00D646;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #707a8a;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagens/pequena.jpg);
    background-position: center;
    background-size: cover;
}
main{
    min-height: 70vh;
    padding: 45px 25px;
    color: white;
    & p{
        font-family: "Leckerli";
        margin-left: 5%;
        font-size: 3rem;
        font-weight: 600;
        text-shadow: 2px 2px 3px rgba(31, 23, 23, 0.381);
    }
}
#apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    & #dev{
        font-size: 0.5em;
        color: rgba(255, 255, 255, 0.678);
    }
}
#img-rosto{
    width: 200px;
}
#img-rosto img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid #a5acb8;
}
#sobre {
    display: flex;
    flex-direction: column;
    background-color: #333b50e1;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 10px;
    #sobre-span{
        color: #00D646;
    }
    & div:first-child{
        color: white;
        font-size: 0.5em;
        font-weight: 400;
    }
    & div:nth-child(2){
        font-family: serif;
        font-size: 15px;
        padding: 25px;
        text-align: justify;
        width: 80%;
        margin: auto;
        line-height: 30px;
        & p {
            font-family: 'wix-display', serif;
        }
    }
    & div:last-child {
        font-size: 0.5em;
        padding: 5px;
        & button {
            background-color: var(--cor-fundo-escuro);
            border: 1px solid #00D646;
            color: white;
            padding: 15px 30px;
            margin: 50px 0;
            &:hover {
                background-color: #00D646;
            }
            
        }
    }
}

#habilidades {
    text-align: center;
    color: white;
    margin: 30px 0;
    & h1 {
        font-size: 3em;
        padding: 50px 0 30px 0;
    }
    & > p {
        font-size: 1.5em;
    }
}
.tec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 25px;
    & p {
        width: 85px;
        text-align: right;
    }
}
.barra{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 15px;
    gap: 15px;
    & p {
        width: 35px;
    }
}
.show > div{
    background-color: #00D646;
    height: 12px;
    border-radius: 2px;

    animation-name: progress;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
#html-tec {
    width: 85%;
}
@keyframes progress {
    from {
        width: 0;
    }
}

#css-tec {
    width: 75%;


}
#js-tec {
    width: 65%;
}
#react-tec {
    width: 15%;
}
#node-tec {
    width: 10%;
}
#mysql-tec {
    width: 35%;
}
#sql-tec {
    width: 10%;
}
#php-tec {
    width: 5%;
}
#python-tec {
    width: 5%;
}

#experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    & h1 {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0 30px 0;
        & span {
            text-align: center;
        }
    }
}
.exp-hist {
    width: 50%;
    margin: 0 15px;
}
.svg-ball {
    margin-bottom: -0px;
    padding-bottom: 0;
    fill: #00D646;
}
.comp-iqqj6loz{
    width: 5px;
    height: 160px;
}
.line-efect {
    margin-top: 0;
    width: 5px;
    background-color: #00D646;
    /* height: 160px; */
    animation-name: line-grow;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes line-grow {
    from {
        height: 0;
    }
    
}
.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    overflow: hidden;
    
}
.timeball {
    align-items: center;
}
.time-refL, .time-refR {
    width: 300px;
    color: #00D646;
    font-size: 0.9em;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & li {
        color: white;
        list-style: none;
        line-height: 25px;
        & a {
            color: white;
            text-decoration: none;
            /* font-family: 'Times New Roman', Times, serif; */
            &:hover {
                background-color: rgba(60, 58, 58, 0.493);
                border-radius: 5px;
                transition: .5s;
            }
        }
    }
}
.time-refL {
    text-align: right;
    margin-right: 55px;
}
.time-refR {
    text-align: left;
    margin-left: 55px;
    & li {

    }
}
.projects {
    height: 160px;
}
#docontato {
    background-color: #333B50;
    width: 80%;
    margin: auto;
    color: white;
    margin: 20px auto;
}
#contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
    text-align: left;
    /* padding: 30px 0 0px 0; */
    > div {
        width: 50%;    
        padding: 15px;
        & p {
            font-family: 'Times New Roman', Times, serif;
            width: 75%;
            margin: auto;
            padding: 10px;
            
        }
        & h2 {
            width: 60%;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 200;
            margin: 0 auto 20px auto;
            padding: 10px;
        }
    }
    & form {
        width: 50%;
        padding-top: 20px;
        & div {
            padding: 10px 5px;
            /* margin-top: 10px; */
        }
        & input {
            height: 30px;
            padding: 5px;
            width: 100%;
            
        }
        & textarea {
            width: 100%;
            padding: 5px;
        }
    }
}
#email {
    text-align: center;
    margin-bottom: 15px;
}
#redes {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    & a {
        text-decoration: none;
        margin: 0 15px;
        height: 30px;
        & img {
            width: 30px;
        }
    }
    & div {
        font-size: xx-small;
        margin: 5px;
        & a {
            color: white;
        }
    }
}

footer {
    display: flex;
    background-color: #333B50;
    color: white;
    /* justify-content: space-around; */
    align-items: center;
    height: 100px;
    > div {
        width: 30%;
        text-align: center;
        margin: 20px;

    }

}