@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #9deb4465;
}
#img-principal {
    display: block;
    position: relative;
    left: 50%;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    transform: translate(-50%);
}
header{
    background-color: #9E5541;
    width: 100vw;
    padding: 10px;
}
#burger{
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    width: 25px;
    cursor: pointer;
}
#lang{
    position: fixed;
    background-color: black;
    color: white;
    width: 25px;
    margin-top: 5px;
    padding: 5px;
    right: 10%;
    cursor: pointer;
    text-align: center;
}
header >p{
    margin-bottom: 5px;
    font-size: 1.2em;
    padding: 8px;
    display: inline-block;
    color: white;
    text-align: center;
    
}
menu{
    display: none;
    width: 200px;
    padding: 0px;
    margin-left: 0px;
    padding: 7px;
}

menu ul{
    display: flex;
    flex-direction: column;
    padding: 7px;
}
menu ul li{
    list-style: none;
    padding: 5px;
}
menu ul li a{
    text-decoration: none;
    color: white;
}
menu ul li a:hover{
    border: 1px solid black;
    padding: 5px;
}
main{
    text-align: center;
    margin: 0px 20px;
    border-radius: 10px;
    background-color: azure;
    color: #f54515;
}